<html class="no-js" lang="zxx"><head>
		<title>THE HEART - Modern Onepage &amp; Multipage Wedding Template</title>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="The Heart - Creative Wedding Template by pixiefy">
		<meta name="author" content="pixiefy">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes%7CRoboto:100,300,400,700,900" rel="stylesheet">


		<!-- All Style Sheet Start -->
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/assets/bootstrap.min.css">

		<!-- All Style Sheet End -->

		<link rel="stylesheet" href="/assets/style.css">
		<link rel="stylesheet" href="/assets/responsive.css">

	<style type="text/css" id="jarallax-clip-0">#jarallax-container-0 {
   clip: rect(0 1440px 600px 0);
   clip: rect(0, 1440px, 600px, 0);
}</style><style type="text/css" id="jarallax-clip-1">#jarallax-container-1 {
   clip: rect(0 1440px 600px 0);
   clip: rect(0, 1440px, 600px, 0);
}</style><script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script></head>

	<body class="the-heart-default-body the-heart-overly">

	<!-- The Heart Body Start -->

	<!-- Preloder -->
	<div id="prelaoder" style="display: none;"></div>

	<!-- The Heart main Menu -->
	<header class="the-heart-menu-and-logo-section" id="the-heart-menu">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="the-heart-logo">
						<a href="#">
							<%= image_tag("logo-2.png", {:style => "width:100px;"}) %>
						</a>
					</div>
				</div>
				<div class="menu-toggle">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<nav class="the-heart-main-meun">
						<!-- <ul>
							<li><a href="#the-heart-onepage">Onepage <i class="fa fa-heart"></i></a></li>
							<li><a href="#the-heart-multipage">Multipage <i class="fa fa-heart"></i></a></li>
							<li><a href="#the-heart-inners">Inner Pages <i class="fa fa-heart"></i></a></li>
						</ul> -->
					</nav> <!-- .the-heart-main-meun END -->
				</div>
			</div>
		</div>
	</header> <!-- .the-heart-menu-and-logo-section END -->

	<!-- The Heart Welcome Section -->
	<section class="the-heart-welcome-section jarallax black-overly" style="background-image: none;" data-jarallax-original-styles="background-image: url('love-bg3.jpg');">
		<div class="container">
			<div class="row">
				<div class="the-heart-welcome-tbl">
					<div class="the-heart-welcome-tbl-c">
						<div class="wow fadeInUp" data-wow-duration="2s">
							<div class="the-heart-welcome-content">
								<h1>Hari & Padma</h1>
							<span class="tiny-heart" style="top: 45%; left: 96%; width: 7px; height: 7px ; animation-delay: -0s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 64%; left: 96%; width: 12px; height: 12px ; animation-delay: -1s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 48%; left: 90%; width: 10.8px; height: 10.8px ; animation-delay: -3s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 58%; left: 23%; width: 6.1px; height: 6.1px ; animation-delay: -3s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 79%; left: 82%; width: 7.1px; height: 7.1px ; animation-delay: -2s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 51%; left: 21%; width: 10.5px; height: 10.5px ; animation-delay: -2s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 68%; left: 38%; width: 9.7px; height: 9.7px ; animation-delay: -3s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 73%; left: 15%; width: 8.3px; height: 8.3px ; animation-delay: -1s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 51%; left: 92%; width: 11.2px; height: 11.2px ; animation-delay: -0s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 48%; left: 70%; width: 6.7px; height: 6.7px ; animation-delay: -3s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 46%; left: 93%; width: 7.2px; height: 7.2px ; animation-delay: -0s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 66%; left: 17%; width: 6.2px; height: 6.2px ; animation-delay: -2s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 41%; left: 6%; width: 8.1px; height: 8.1px ; animation-delay: -1s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 52%; left: 47%; width: 10.9px; height: 10.9px ; animation-delay: -2s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 64%; left: 61%; width: 8.7px; height: 8.7px ; animation-delay: -2s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 75%; left: 73%; width: 11.2px; height: 11.2px ; animation-delay: -3s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 78%; left: 12%; width: 9.5px; height: 9.5px ; animation-delay: -1s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 62%; left: 74%; width: 8.9px; height: 8.9px ; animation-delay: -3s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 62%; left: 100%; width: 6.4px; height: 6.4px ; animation-delay: -3s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 48%; left: 49%; width: 7.4px; height: 7.4px ; animation-delay: -1s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 51%; left: 20%; width: 6.4px; height: 6.4px ; animation-delay: -0s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 59%; left: 91%; width: 8.9px; height: 8.9px ; animation-delay: -3s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 50%; left: 55%; width: 8.9px; height: 8.9px ; animation-delay: -2s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 51%; left: 36%; width: 10.1px; height: 10.1px ; animation-delay: -1s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 79%; left: 8%; width: 6.5px; height: 6.5px ; animation-delay: -2s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 52%; left: 18%; width: 9.8px; height: 9.8px ; animation-delay: -3s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 53%; left: 64%; width: 10.8px; height: 10.8px ; animation-delay: -0s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 58%; left: 19%; width: 10.6px; height: 10.6px ; animation-delay: -0s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 51%; left: 17%; width: 11.3px; height: 11.3px ; animation-delay: -3s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 69%; left: 53%; width: 7.4px; height: 7.4px ; animation-delay: -1s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 75%; left: 27%; width: 9.3px; height: 9.3px ; animation-delay: -0s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 67%; left: 60%; width: 9px; height: 9px ; animation-delay: -1s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 79%; left: 46%; width: 11.1px; height: 11.1px ; animation-delay: -3s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 43%; left: 72%; width: 11.8px; height: 11.8px ; animation-delay: -0s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 54%; left: 68%; width: 10.4px; height: 10.4px ; animation-delay: -2s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 51%; left: 11%; width: 7.9px; height: 7.9px ; animation-delay: -2s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 58%; left: 36%; width: 12px; height: 12px ; animation-delay: -2s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 79%; left: 80%; width: 10.4px; height: 10.4px ; animation-delay: -0s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 61%; left: 94%; width: 9px; height: 9px ; animation-delay: -1s; animation-duration: 3s"></span><span class="tiny-heart" style="top: 78%; left: 70%; width: 11.2px; height: 11.2px ; animation-delay: -3s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 55%; left: 85%; width: 11.7px; height: 11.7px ; animation-delay: -2s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 70%; left: 44%; width: 8.8px; height: 8.8px ; animation-delay: -1s; animation-duration: 4s"></span><span class="tiny-heart" style="top: 49%; left: 100%; width: 6.9px; height: 6.9px ; animation-delay: -3s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 56%; left: 6%; width: 6.6px; height: 6.6px ; animation-delay: -1s; animation-duration: 5s"></span><span class="tiny-heart" style="top: 57%; left: 5%; width: 7px; height: 7px ; animation-delay: -2s; animation-duration: 2s"></span><span class="tiny-heart" style="top: 63%; left: 67%; width: 10.8px; height: 10.8px ; animation-delay: -0s; animation-duration: 4s"></span></div> <!-- .the-heart-welcome-content END -->
							<h4 class="single-text">Getting Married</h4>
							<div class="the-heart-floral-txt">
								<h3>21 August 2020</h3>
							</div>
							<!-- .the-heart-btn-holder END -->
						</div>
					</div> <!-- .the-heart-welcome-tbl-c END -->
				</div> <!-- .the-heart-welcome-tbl END -->
			</div>
		</div>
		<div id="jarallax-container-0" style="position: absolute; top: 90px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
			<div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(https://pixiefy.com/themes/the-heart/img/love-bg3.jpg); position: fixed; top: 90px; left: 0px; width: 1440px; height: 715.5px; overflow: hidden; pointer-events: none; margin-top: -173.25px; transform: translateY(57.75px) translateZ(0px);">
			</div>
		</div>
	</section> <!-- .the-heart-welcome-floral-bg END -->

	<section class="the-heart-introduction-section section-padding" id="tthe-heart-intro">
		<div class="container">
			<div class="the-heart-introduction-wraper">
				<div class="the-heart-single-introduction clear-both">
					<div class="the-heart-spilt-container">
						<div class="the-heart-intruduction-content-txt" style="height: 409px;">
							<h3>Padmavathi</h3>
							<h4>D/O Mr. & Mrs. Nanda Kumar</h4>
							<h4>The Bride</h4>
							<p>B.E.,</p>
						</div> <!-- .the-heart-intruduction-content-txt END -->
					</div> <!-- .the-heart-spilt-container END -->
					<div class="the-heart-spilt-container">
						<a class="the-heart-popup" href="images/bride.png">
							<figure class="the-heart-intruduction-content-img">
								<%= image_tag("bride.png", {:alt => "The Heart Introduction Image", :title => "The Heart Introduction Image"}) %>
							</figure> <!-- .the-heart-intruduction-content-img END -->
						</a>
					</div> <!-- .the-heart-spilt-container END -->
				</div> <!--  .the-heart-single-introduction END -->

				<div class="the-heart-single-introduction clear-both">
					<div class="the-heart-spilt-container">
						<div class="the-heart-intruduction-content-txt" style="height: 409px;">
							<h3>S. Hari Kumar</h3>
							<h4>S/O Mr. & Mrs. Sathya Narayanan</h4>
							<h4>The Groom</h4>
							<p>M.B.A.,</p>
							<p>Hewlett Packard enterprise</p>
						</div> <!-- .the-heart-intruduction-content-txt END -->
					</div> <!-- .the-heart-spilt-container END -->
					<div class="the-heart-spilt-container">
						<figure class="the-heart-intruduction-content-img">
							<%= image_tag("groom.png", {:alt => "The Heart Introduction Image", :title => "The Heart Introduction Image"}) %>
						</figure> <!-- .the-heart-intruduction-content-img END -->
					</div> <!-- .the-heart-spilt-container END -->
				</div> <!--  .the-heart-single-introduction END -->
			</div> <!-- .the-heart-introduction-wraper END -->
		</div>
	</section>
	<section class="">
		<div class="">
			<p class="text-center">It is a pleasure to invite you all to our marriage. Please make your presence on this occassion to make these wonderful moments special and memorable</p>
		</div>
	</setion>
	<section class="the-heart-paper-effect-bg">
		<div class="the-heart-wedding-venue-section" id="the-heart-wedding-venue">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="the-heart-wdding-venu-content">
							<h2>Marriage</h2>

							<div class="the-heart-wedding-time-schedule clear-both">
								<div class="the-heart-wedding-venue">
									<div class="the-heart-wedding-time-chart clear-both">
										<div class="the-heart-spilt-container">
											<i class="fa fa-clock-o"></i>
											<p>9:00 am - 10: 30 am</p>
										</div> <!-- .the-heart-spilt-container END -->
										<div class="the-heart-spilt-container">
											<i class="fa fa-calendar-o"></i>
											<p>21st august 2020</p>
										</div> <!-- .the-heart-spilt-container END -->
									</div> <!-- .the-heart-wedding-time-chart END -->

									<div class="the-heart-wedding-palace-address clear-both">
										<h4>Sri Varadharaja Perumal Devasthanam</h4>
										<h5>Near Arasamaram,</h5>
										<h5>Mugalivakkam,</h5>
										<h6>Chennai - 600125</h6>
									</div>
								</div> <!-- .the-heart-wedding-venue END -->
							</div> <!-- .the-heart-wedding-time-schedule END -->
							<a class="btn btn-primary" href="https://www.google.com/maps?q=13.0226889,80.1558994&z=17&hl=en">Checkout the map </a>
							<br>
							<br>
							<br>
						</div> <!-- .the-heart-wdding-venu-content END -->
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="the-heart-wdding-venu-content">
							<h2>Breakfast</h2>

							<div class="the-heart-wedding-time-schedule clear-both">
								<div class="the-heart-wedding-venue">
									<div class="the-heart-wedding-time-chart clear-both">
										<div class="the-heart-spilt-container">
											<i class="fa fa-clock-o"></i>
											<p>9:00 am - 10: 30 am</p>
										</div> <!-- .the-heart-spilt-container END -->
										<div class="the-heart-spilt-container">
											<i class="fa fa-calendar-o"></i>
											<p>21st august 2020</p>
										</div> <!-- .the-heart-spilt-container END -->
									</div> <!-- .the-heart-wedding-time-chart END -->

									<div class="the-heart-wedding-palace-address clear-both">
										<h4>Sri Krishna Mini Hall</h4>
										<h5>No 24, Nandha gopala raja street, Gurusamy nagar main road,</h5>
										<h5>Mugalivakkam,</h5>
										<h6>Chennai - 600125</h6>
									</div>
								</div> <!-- .the-heart-wedding-venue END -->
							</div> <!-- .the-heart-wedding-time-schedule END -->
							<a class="btn btn-primary" href="https://www.google.com/maps?q=13.0226889,80.1558994&z=17&hl=en">Checkout the map </a>
							<br>
							<br>
							<br>
						</div> <!-- .the-heart-wdding-venu-content END -->
					</div>
				</div>
			</div>
		</div> <!-- .the-heart-wedding-venue-section END -->
	</section>

	<!-- The Heart Footer Section -->
	<footer class="the-heart-footer-section jarallax" id="the-heart-footer" style="background-image: none; z-index: 0;" data-jarallax-original-styles="background-image: url('footer-bg.png');">
		<div class="container">
			<div class="the-heart-tbl">
				<div class="the-heart-tbl-c">
					<div class="the-heart-footer-content">
						<div class="wow fadeInUp" data-wow-duration="2s">
							<h3>From Gogulanathan</h3>
							<h5>Thank You For being With Us</h5>
						</div>
					</div> <!-- .the-heart-footer-content END -->
				</div> <!-- .the-heart-tbl-c END -->
			</div> <!-- .the-heart-tbl END -->
		</div>
	<div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://pixiefy.com/themes/the-heart/img/footer-bg.png&quot;); position: fixed; top: 0px; left: 0px; width: 1440px; height: 715.5px; overflow: hidden; pointer-events: none; margin-top: -173.25px; transform: translateY(4992.75px) translateZ(0px);"></div></div></footer> <!-- .the-heart-footer-section END -->

	<!-- Js File Start -->

	<script type="text/javascript" src="assets/a-jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
	<script src="assets/canvas-v9.js"></script>

		<!-- header jarallax -->

	<script src="assets/jarallax.js"></script>
	<script src="assets/jarallax-element.js"></script>

	<script type="text/javascript" src="assets/blazy.min.js"></script>
	<script src="assets/main.js"></script>


</body></html>
